.jumbotron {
  background-color: #EEEEEE;
  height: 125px;
  padding: 20px;
  box-shadow: 1px 1px 3px black;
}

.jumbotron::after {
  content: "";
  clear: both;
  display: table;
}

#header-text {
  margin-left: 20%;
}

.logo {
  margin-left: 10%;
  width: 8%;
  float: left;
}