body {
  font-family: Arial, Helvetica, sans-serif;
}

.jumbotron {
  background-color: #EEEEEE;
  height: 125px;
  padding: 20px;
  box-shadow: 1px 1px 3px black;
  margin-bottom: 3%;
}

.jumbotron::after {
  content: "";
  clear: both;
  display: table;
}

#header-text {
  margin-left: 20%;
}

.logo {
  margin-left: 10%;
  width: 150px;
  float: left;
  animation: logoToggle 1000ms ease-in-out infinite;
}

#title-footer {
  margin-left: 5%;
  font-style: italic;
}

.btn {
  font-weight: bold;
}

.well {
  width: 100%;
  margin-bottom: 2%;
  text-align: center;
  padding: 15px;
  font-weight: bold;
}

.sub-header {
  margin: 10px;
}

.card {
  box-shadow: 1px 1px 3px black;
  padding: 5px;
  height: 50%;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 5px orange;
}
.card-img {
  float: left;
}

.img-order {
  height: 150px;
}

.order-options {
  text-align: center;
}

.text-content {
  margin-top: 5%;
}

.img-body {
  float: right;
  width: 50%;
}

.img-body:hover, .logo:hover, .img-order:hover {
  animation: logoToggle 1000ms ease-in-out infinite;
}

.pun {
  font-weight: bold;
  font-style: italic;
}

.pun .hoverText {
  visibility: hidden;
}
.footer {
  width: 100%;
  height: 75px;
  padding: 15px;
  text-align: center;
  color: black;
}

@keyframes logoToggle {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

#order-form-body {
  width: 100%;
}

label {
  font-weight: bold;
}

.form-container {
  margin: 0 auto;
  text-align: left;
  width: 30%;
}

.radio {
  margin: 10px;
}

h2, h3, h4 {
  color: orange;
}

#current-price {
  font-weight: bold;
}

#cart {
  display: none;
  font-weight: bold;
}
